**Use of the lego Dataset to work on Project 2: Data Analysis in Python**

Dataset Used: https://www.kaggle.com/datasets/mterzolo/lego-sets?select=lego_sets.csv

The dataset we used is a public dataset posted on Kaggle. The initial dataset was created by user 'MattieTerzolo' for the simple purpose of curiousity regarding questions regarding the world of Legos. The dataset is in a lego_sets.csv file with 14 various columns. Some of the columns include recommended ages, set name, price, piece count, and review ratings.

**Questions:**

1. Which theme has the highest average star rating?
2. What are the top 10 highest priced Lego sets?
3. Piece count of lego sets based on themes. Which themes have the highest and lowest piece counts on average?
4. Review difficulty based on age

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

lego = pd.read_csv("datasets/lego_dataset.csv")
lego.describe()

,list_price,num_reviews,piece_count,play_star_rating,prod_id,star_rating,val_star_rating
count,12261.000000,10641.000000,12261.000000,10486.000000,1.226100e+04,10641.000000,10466.000000
mean,65.141998,16.826238,493.405921,4.337641,5.983675e+04,4.514134,4.228960
std,91.980429,36.368984,825.364580,0.652051,1.638115e+05,0.518865,0.660282
min,2.272400,1.000000,1.000000,1.000000,6.300000e+02,1.800000,1.000000
25%,19.990000,2.000000,97.000000,4.000000,2.103400e+04,4.300000,4.000000
50%,36.587800,6.000000,216.000000,4.500000,4.206900e+04,4.700000,4.300000
75%,70.192200,13.000000,544.000000,4.800000,7.092200e+04,5.000000,4.700000
max,1104.870000,367.000000,7541.000000,5.000000,2.000431e+06,5.000000,5.000000

In [5]:
lego.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ages               12261 non-null  object
 1   list_price         12261 non-null  float64
 2   num_reviews        10641 non-null  float64
 3   piece_count        12261 non-null  float64
 4   play_star_rating   10486 non-null  float64
 5   prod_desc          11884 non-null  object
 6   prod_id            12261 non-null  float64
 7   prod_long_desc     12261 non-null  object
 8   review_difficulty  10206 non-null  object
 9   set_name           12261 non-null  object
 10  star_rating        10641 non-null  float64
 11  theme_name         12258 non-null  object
 12  val_star_rating    10466 non-null  float64
 13  country            12261 non-null  object
dtypes: float64(7), object(7)
memory usage: 1.3+ MB

The line below shows the name of all the themes of the various Lego sets in the database.

In [6]:
print(lego["theme_name"].unique())

['Angry Birds™' 'Architecture' 'BOOST' 'BrickHeadz' 'City' 'Juniors'
 'Classic' 'Creator 3-in-1' 'Creator Expert' 'THE LEGO® BATMAN MOVIE'
 'DC Comics™ Super Heroes' 'DIMENSIONS™' 'DC Super Hero Girls' 'Disney™'
 'DUPLO®' 'Elves' 'Friends' 'Ghostbusters™' 'Ideas'
 'Indoraptor Rampage at Lockwood Estate' 'Carnotaurus Gyrosphere Escape'
 'T. rex Transport' 'Jurassic Park Velociraptor Chase'
 'Dilophosaurus Outpost Attack' "Blue's Helicopter Pursuit"
 'Stygimoloch Breakout' 'Pteranodon Chase' 'Marvel Super Heroes'
 'MINDSTORMS®' 'Minecraft™' 'Minifigures' 'NEXO KNIGHTS™'
 'THE LEGO® NINJAGO® MOVIE™' 'NINJAGO®' 'SERIOUS PLAY®' 'Speed Champions'
 'Star Wars™' 'Technic' 'Power Functions' 'LEGO® Creator 3-in-1' nan]